Makefile
Makefile.in
.deps
*.o
*.a
ABOUT-NLS
INSTALL
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in*
config.log
config.status
configure
m4/*.m4
po/*.gmo
po/POTFILES
po/stamp-po
stamp-h1
ar-lib
compile
config.guess
config.rpath
config.sub
depcomp
install-sh
ltmain.sh
missing
libtool
po/stamp-it
.DS_Store
doc/Doxyfile
gwhere.spec
win32/gwhere.nsi
.libs
src/gwhere
*.lo
*.la
build-aux
autoconf
autoconf-m4
